.text {
  &-center {
    text-align center
  }

  &-left {
    text-align left
  }

  &-right {
    text-align right
  }

  &-uppercase {
    text-transform uppercase
  }

  &_wh {
    color: #fff
  }
}

.bold {
  font-family $font-bold
}

.regular {
  font-weight $font-regular
}

.ellipsis {
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
}

.row {
  display flex
}
