/* Responsive Breakpoints */
$breakpoint-xs = 992px
$breakpoint-md = 1197px
$breakpoint-l = 1305px

// font
$font-default = 'Montserrat', arial;
$font-menu = 'Roboto', arial;

//Path
$path-fonts = '../../assets/fonts/'
$font-size-default = 14px

//Initial value
$initial-value = 2px

// Colors
$color-default = #021B3A
$color-primary = #FFD200
$color-text = #A1A1A1
$color-white =  #ffffff
$color-error = #EB5757

// Shadow

$shadow = 0px 8px 32px rgba(14, 55, 103, 0.12)